<section class="category-list">
    <h2>All Award Categories</h2>

    <div class="group-section" *ngFor="let group of groupedCategories | keyvalue">
        <h3 class="group-title">{{ group.key }}</h3>
        <ul>
            <li *ngFor="let category of group.value">
                <a [routerLink]="['/category', category.id]">
                    <i class="fa-solid {{ category.icon }}" [attr.title]="category.badge + ' Category'"></i>
                    {{ category.name }}
                    <span class="badge">{{ category.badge }}</span>
                </a>
            </li>
        </ul>
    </div>
</section>